@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cinzel:400,700&display=swap");

/* 
font-family: 'Lato', sans-serif;
font-family: 'Cinzel', serif;
*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.homepage {
  background: linear-gradient(rgba(62, 60, 60, 0.4), rgba(62, 60, 60, 0.4)),
    url("https://images.unsplash.com/photo-1452451312475-5055e48f74cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage h1 {
  font-family: "Cinzel", serif;
  text-shadow: 0.5px 0.5px 60px black;
  color: white;
  font-size: 100px;
  font-weight: 700;
  margin: 0;
}

.homepage p {
  text-align: center;
  font-size: 30px;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin: 0;
}

.btn {
  border-radius: 5px;
  border: 2px solid white;
  color: white;
  padding: 15px 30px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 25px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  background: none;
  width: 200px;
}

.btn:hover {
  background-color: #e7e7e7;
}

.btn a:hover {
  color: darkgray;
}

.btn a {
  text-decoration: none;
  color: white;
}

.answer-btn {
  border-radius: 5px;
  border: 2px solid white;
  color: white;
  padding: 15px 30px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  background: none;
  width: 25%;
}

.answer-btn:hover {
  background-color: darkgoldenrod;
  color: lightgoldenrodyellow;
}

.gamepage {
  background: linear-gradient(rgba(60, 62, 62, 0.4), rgba(62, 60, 60, 0.4)),
    url("https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-container {
  background-color: rgba(62, 60, 60, 0.6);
  width: 50vw;
  height: 40vh;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.bottom-container {
  background-color: rgba(62, 60, 60, 0.6);
  width: 50vw;
  height: 25vh;
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.insert-quote {
  font-size: 45px;
  text-align: center;
  margin: 25px;
  width: 80%;
  /* font-family: "Cinzel", serif; */
  text-shadow: 0.5px 0.5px 60px black;
}

.wrapper {
  background-color: rgba(62, 60, 60, 0.6);
  width: 50vw;
  height: 50vh;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.wrapper p {
  text-align: center;
  font-size: 30px;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin: 0;
  padding-top: 50px;
}

.wrapper h2 {
  text-align: center;
  font-size: 35px;
  color: rgb(245, 121, 83);
  text-shadow: 1px 1px 60px black;
  font-family: "Cinzel", serif;
  font-weight: 700;
  width: 80%;
  margin: 0;
  padding: 30px 0;
}

#remaining-quotes p {
  text-align: center;
  font-size: 25px;
  color: white;
  font-family: "Lato", sans-serif;
  /* font-family: "Cinzel", serif; */
  font-weight: 400;
  margin: 10px;
  text-shadow: 1px 1px 60px black;
}

img {
  width: 350px;
  height: 200px;
  margin: 25px 150px;
}

#wrong-answers p {
  text-align: center;
  font-size: 30px;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin: 0;
}

.wrong-btn {
  border-radius: 5px;
  border: 2px solid white;
  color: white;
  padding: 15px 30px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 25px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  background: none;
  width: 200px;
}

.wrong-btn:hover {
  background-color: lightcoral;
}

.try-again-btn:hover {
  background-color: lightgreen;
}

.wrapper th {
  text-align: center;
  font-size: 30px;
  color: rgb(215, 255, 136);
  font-family: "Cinzel", serif;
  font-weight: 400;
  margin: 0;
}

.wrapper td {
  text-align: center;
  font-size: 25px;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 20px 80px;
  width: 60%;
}

.wrapper table {
  margin: 40px;
}

.upper-wrapper {
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.upper-wrapper p {
  font-size: 25px;
  color: rgb(255, 0, 0);
  font-family: "Lato", sans-serif;
  /* font-family: "Cinzel", serif; */
  font-weight: 400;
  margin: 10px;
  text-shadow: 1px 1px 60px black;
}

.upper-wrapper span {
  font-size: 30px;
}
